<div class="container mt-5">
    <div class="row align-items-center">

      <div class="col-md-8">
        <h1 class="display-5 fw-bold">This First Heading Will Catch Your Eye</h1>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
   
      <div class="col-md-4 text-center">
        <img src="https://img.pikbest.com/wp/202345/male-avatar-image-in-the-circle_9588978.jpg!sw800" alt="Avatar" class="rounded-circle img-fluid" style="max-width: 200px;">
      </div>
    </div>
  </div>